@model QRCodeMain.Models.WordStatisticsViewModels.NewTestViewModel

@{
    ViewData["Title"] = "Test Home";
}

<h2>Test Home</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewTest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TestScopeWordCount" class="control-label"></label>
                <input asp-for="TestScopeWordCount" class="form-control" />
                <span asp-validation-for="TestScopeWordCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestWordCount" class="control-label"></label>
                <input asp-for="TestWordCount" class="form-control" />
                <span asp-validation-for="TestWordCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Start" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
